


h1{ color: chocolate;}
       /* ::before et ::after  */


 /* ______________________Exemple A — Ajouter une icône devant les liens externes______________________________________*/

  /* cible les liens qui commencent par http (très simple) */
a[href^="http"]::after {
  content: "↗";              /* icône simple en texte */
  margin-left: .25rem;
  font-size: .85em;
  opacity: .75;
  
}
 /* ________Exemple B — Soulignement animé sous un lien (barre fluide)____________________________________________________*/

.link-underline {
  position: relative;
  text-decoration: none;
  color: #ff4648;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0; bottom: -2px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: currentColor;      /* prend la couleur du texte */
  transition: transform .3s ease;
}

.link-underline:hover::after {
  transform: scaleX(1);
}

  /* ____________Exemple C — Badges/étiquettes décoratives________________________________________________*/

.btn-pill {
  position: relative;
  padding-right: 2.5rem;           /* place pour le badge */
}

.btn-pill::after {
  content: "3";                     /* badge chiffré */
  position: absolute;
  right: .5rem; top: 50%;
  transform: translateY(-50%);
  display: inline-grid;
  place-items: center;
  min-width: 1.25rem;
  height: 1.25rem;
  padding: 0 .25rem;
  font: 600 0.75rem/1 sans-serif;
  color: white;
  background: crimson;
  border-radius: 999px;
}



   /* ___________Exemple D — « Clearfix » moderne (héritage utile)_________________________________________________*/

.left { float: left; margin: 0 1rem .5rem 0; }

/* clearfix via pseudo-élément */
.card::after {
  content: "";
  display: table;
  clear: both;
}

img{
    width: 130px;
    height: 130px;
}

    /* ___________Exemple E — Numérotation auto avec les compteurs CSS_________________________________________________*/

 .steps {
  counter-reset: step;
  list-style: none;
  padding: 0;
}

.steps > li {
  counter-increment: step;
  position: relative;
  padding-left: 2rem;
  margin: .5rem 0;
}

.steps > li::before {
  content: counter(step) ".";
  position: absolute;
  left: 0; top: 0;
  font-weight: 700;
  opacity: .6;
}


/*Exemple F — Afficher un label depuis un attribut (attr())  */


.row {
  display: grid;
  grid-template-columns: 8rem 1fr;
}

.row::before {
  content: attr(data-label) "@:";
  font-weight: 600;
  opacity: .7;
  color: #ff4648;
}


/*  */
  


.lead {
  font-size: 1rem; line-height: 1.6;
}

.lead::first-letter {
  float: left;               /* crée l’effet de lettrine */
  font-size: 3.5em;
  line-height: 1;
  padding: .05em .1em 0 .02em;
  margin-right: .1em;
  font-weight: 700;
  color: #5b21b6;            /* violet profond */
}
